<html lang='en'>
  <body>
    <h2>Your City Finance Data is Ready to Download</h2>

    <p>Hello <strong>{{name}}</strong>,</p>

    <p>
      The City Finance data you requested is now ready for download. The link will expire in
      <strong>30 days</strong>.
    </p>

    <p>
      <a href='{{download_link}}'>Click here to Download</a>
    </p>

    <p><strong>Export Details:</strong></p>
    <ul>
      <li>Data submitted by ULBs in PDF</li>
      {{!-- <li>{{state}} files – {{ulbs}}</li> --}}
      <li>{{state}} files</li>
      <li>{{year}}</li>
    </ul>

    <p>
      <strong>Usage:</strong>
      This data is open for everyone to use without restriction. However, if you use this data, we request that you
      acknowledge/cite
      <em>City Finance</em>
      as the source.
    </p>

    <p>
      Have questions about the data? Reply to this email to get in touch.
    </p>

    <p>Regards,<br />Team City Finance</p>

    <hr />
    {{!-- <a href='{{unsubscribeUrl}}'>Click here to unsubscribe from future emails</a>
    <br />
    <br /> --}}
    <p>
      You received this email because you requested data on City Finance. If you did not make this request, you can
      ignore this message.
    </p>
  </body>
</html>